body, html{
    height: 100%;
    margin:0;
    font-size: 26px;
    font-family:"Poppins", sans-serif;
    font-weight: 40;
    line-height: 1.8em;
    color: blueviolet;
}

.pimg0, .pimg1,.pimg2, .pimg3, .pimg4,.pimg5, .pimg6, .pimg7 , .pimg8 {

position: relative;
background-position:center;
background-size: cover;
background-repeat: no-repeat;

background-attachment: fixed;
}



.pimg0{
    background-image: url('../Images/0 ALL CN.jpeg'); 
    min-height: 100%;
}



.pimg1{
    background-image: url('../Images/1 scooby poster.jpg');
    min-height: 100%;
}


.pimg2{
    background-image: url('../Images/2 spongebob all.jpg');
    min-height: 100%;
}

.pimg3{
    background-image: url('../Images/3 tom and jerry.webp');
    min-height: 100%;
}

.pimg4{
    background-image: url('../Images/4 pokemon hd.jpg'); 
    min-height: 100%;
}



.pimg5{
    background-image: url('../Images/5 Animaniacs perfect.jpg');
    min-height: 100%;
}


.pimg6{
    background-image: url('../Images/6 Johnny.jpg');
    min-height: 100%;
}

.pimg7{
    background-image: url('../Images/7 popeye-characters.webp');
    min-height: 100%;
}


.pimg8{
    background-image: url('../Images/8 justice league.jpg');
    min-height: 100%;
}








.S1 {
    text-align: center;
    padding: 50px;
    background-color: black;
}

.ptext{
    top: 50%;
    width: 100%;
    text-align: center;
}

.border{
   background-color: rgba(52, 54, 54, 0.29); 
   color: black;
   border-radius: 20px;
   padding: 12px;
   font-size: 32px;
   font-family:"Poppins", sans-serif;
   font-weight: 40;
   line-height: 1.8em;
}